Hello <%= @user.login %>,

You told us that you have forgotten your BeatCreators password.

Click the link below to verify this email address and create a new password:
http://answers.beatcreators.com<%=resetpassword_path(@user.resetcode)%>


If you didn’t request this email, please contact us at support@beatcreators.com.

Thank you.

Ike Barnes
BeatCreators