Hello <%= @user.login %>,

A new comment has been added by <%= @user.login %>:

<%= @comment.body %>

Click the link below to see the new comment:
http://answers.beatcreators.com<%=question_path(@question)%>


This email was sent by your request. Sign into BeatCreators to change your notifications if you wish to no longer receive these emails.

Thank you.

Ike Barnes
BeatCreators
