A new question has been added by <%= @user.login %> 

Click the link below to see the new question:
http://answers.beatcreators.com


This email was sent by your request. Sign into BeatCreators to change your notifications if you wish to no longer receive these emails.

Thank you.

Ike Barnes
BeatCreators