<div style="margin-left: 20px; margin-right: 20px;">
  
<h2>Need Some Help?</h2>
<font size="3"><br>
<b>Q: How do I ask a question?</b><br>
<br>
</font>
  
  
<p>
    <font size="3"><b>A:</b> Click the green <%= link_to "Ask A Question", new_question_path %> button. Fill out the form and click submit.
  <br>
<br>
</font></p>
  <font size="3"><b>Q: What type of questions can I ask?</b><br>
<br>
</font>
  
<p>
    <font size="3"><b>A:</b> Any music related questions that you can think of. Make sure they are specific questions.
  <br>
<br>
</font></p>
 <font size="3"><b>Q: What is voting for?</b><br>
<br>
</font>
  
<p>
    <font size="3"><b>A:</b> Voting on a question or an answer will allows you to pick which answers and questions you like. Questions with the most votes will place higher in the Top Questions view.
  <br>
<br>
</font></p>

  <font size="3"><b>Q: How do I change my password?</b><br>
<br>
</font>
  
<p>
    <font size="3"><b>A:</b> You can change you password in your profile. Click your name on the top right and you will be able to manage your profile. There is a tab that allows you to change your password.
  <br>
<br>
</font></p>

  <font size="3"><b>Q: How do I mark an answer as the correct answer?</b><br>
<br>
</font>
  
<p>
    <font size="3"><b>A:</b> If you are logged in, you will see a star next to the answers to your questions. Click the star for the best answer to let other users know which answer you liked most.
  <br>
<br>
</font></p>

<font size="3"><b>Q:  How do you earn points on the leaderboard?</b><br>
<br>
</font>
<p>
  <font size="3"><b>A:</b> You can earn points and get listed on the <%= link_to "leaderboard", leaders_path %> by performing the following actions:
  </font></p>
  
<ul style="list-style-type: circle; margin-left: 10px;">
  <li><font size="3">Answering questions correctly = 40 points</font></li>
  <li><font size="3">Asking questions = 20 points</font></li>
  <li><font size="3">Answering question = 30 points</font></li>
  <li><font size="3">Voting on questions = 5 points</font></li>
<li><font size="3">Voting on answers = 5 points</font></li>
</ul>
<font size="3"><br>
<b>Q: How do I request features or give feedback?</b><br>
<br>
</font>

  
<p>
    <font size="3"><b>A:</b> Click the feedback link on the left hand side of the screen to request new features.
  </font></p>

</div>
<br>