<div id="primary">
  <table width="900" border="0" cellpadding="0" cellspacing="0" id="container" bgcolor="white"  >
    <tr>
      <td colspan="2" valign="top">
      
         <h1>Most Recent <%= link_to image_tag('rss.png', :alt=>'Most Recent Questions - RSS Feed',:width=>'17',:height=>'17'), formatted_questions_url(:rss) %></h1>
         
        <%= render :partial=>'allquestions', :locals=>{:questions=>@questions} %>
      </td>
      <td valign="top" style="padding-left:30px;">
       <%= render :partial=>'right' %>

      </td>
    </tr><tr><td colspan="3"><br>
    <br><br></td></tr>
   
  </table>
 
  <div id="bottom">
  </div>
</div>