<center><div id="login" ><div id="loginform"> <% form_tag do -%>
     
  <div align="left"><label for="login">Enter your email address to reset your password</label> <%= text_field_tag 'email' %></div>
     
</div> 
   <br> <div align="left" style="padding:0 30px 0 50px;"><%= submit_tag 'Submit' %></div>
      <% end -%>
     </div></center>